# Node
node_modules/
npm-debug.log*

# Build outputs
dist/
build/
lib/
out/

# Firebase
.firebase/
*-debug.log
firebase-debug.log
firestore-debug.log
pubsub-debug.log

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
